html {
  font-size: 16px;
}


body {
  background-color: #dc9e0c;
  font-family: 'Nunito', sans-serif;
}

a {
  text-decoration: none;
}

.header {
  width: 100%;
  margin-bottom: 1rem;
  display: inline-flex;
  justify-content: space-between;
}

.header-items img, footer img {
  border-radius: 1.5rem;
}

nav li {
  display: inline-block;
  padding: .7rem 1rem 1rem 1.5rem;
  font-size: 1.40rem;
  font-weight: 700;
  letter-spacing: .4rem;
  list-style: none;
}

nav a {
  color: #46443c;
}

@media all and (max-width: 497px) {
  .header {
    display: flex;
    justify-content: center;
  }
  
  .first-nav li {
    font-size: 1rem;
    padding-left: .1rem;
    padding-right: 0;
    letter-spacing: .1rem;
  }

  .third-nav li {
    display: block;
  }
}

@media all and (max-width: 356px) {
  .first-nav li {
    padding-top: .1rem;
    padding-bottom: .1rem;
  }
}

@media all and (max-width: 650px) {
  .second-nav li {
    padding: .1rem .1rem .1rem .5rem;
  }
}

@media all and (max-width: 628px) {
  .header ul {
    padding-left: .2rem;
    margin-top: 0;
  }
  .third-nav li {
    padding: 0.1rem 0.3rem 0.1rem 0.1rem;
    letter-spacing: .1rem;
    font-size: 1.1rem;
  }
}

#welcome {
  height: 37.5rem;
  width: 100%;
  background-image: url(./images/Workspace.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

#welcome h1 {
  position: absolute;
  width: 25rem;
  top: 7rem;
  left: 10rem;
  color: #ffebcf;
  letter-spacing: .3rem;
}

@media all and (max-width: 1440px) {
  #welcome {
    height: 28.75rem;
    width: 100%;
  }
  #welcome h1 {
    top: 0;
    left: 3rem;
    color: #ffebcf;
  }
}

@media all and (max-width: 1024px) {
  #welcome h1 {
    top: 60%;
    left: 31%;
  }
}

@media all and (max-width: 860px) {
  #welcome h1 {
   display: none;
  }
}

@media all and (max-width: 703px) {
  #welcome {
   background-size: 100%;
  }
}

@media all and (max-width: 425px) {
  #welcome {
   height: 18.75rem;
  }
}

p {
  margin-top: 3rem;
  font-size: 2rem;
  color: #4e2600;
  font-weight: 800;
  letter-spacing: .2rem;
  word-spacing: .2rem;
  text-align: center;
}

@media all and (max-width: 687px) {
  p {
   margin-top: 1rem;
  }
}

.links {
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}

.links-items {
  padding: 0 5rem;
  flex-shrink: 2;
}

.links-items img {
  height: 28rem;
  width: 28rem;
}

.links-items h2 {
  font-size: 2rem;
  list-style: none;
  text-align: center;
  color: #ffebcf;
}

.links-items a {
  text-decoration: none;
  color: #4e2600;
  text-align: center;
}

@media all and (min-width: 1920px) {
  .links-items img {
    height: 43rem;
    width: 43rem;
  }
}

@media all and (max-width: 1280px) {
  .links-items {
    padding: 1rem;
  }
}

@media all and (max-width: 480px) {
  .links-items img {
    width: 100%;
    height: auto;
  }
}

div h1 {
  width: 100%;
}

.title h1 {
  background-color: #bcb6a8;
  text-align: center;
  color: #5c3f05;
  letter-spacing: .2rem;
  word-spacing: .7rem;
  margin: 2rem auto;
}

@media all and (max-width: 680px) {
  main {
    margin-top: 6rem;
  }
}

main {
  display: grid;
  justify-items: center;
}

/* hmtl-css */

.grid-a {
  display: grid;
  width: 80%;
  min-width: 20rem;
  height: 162.5rem;
  grid-template-rows: repeat(20, 1fr);
  justify-items: center;
  align-items: center;
  grid-auto-flow: row;
}

.gridbox-a p {
  margin-top: 1rem;
  font-size: 1.1rem;
  color: #463305;
  letter-spacing: .1rem;
  line-height: 2.3rem;
  text-align: justify;
}

.gridbox-b {
  font-size: 1.5rem;
  letter-spacing: .1rem;
  word-spacing: .1rem;
  color:#fff4d9;
  background-color: #5c5c5c;
  width: 100%;
  text-align: center;
}

.gridbox-a img {
  width: 40rem;
  height: 9rem;
  margin-bottom: 1rem;
}

span {
  color:#fffefe;
}

footer {
  display: flex;
  justify-content: center;
}

@media all and (max-width: 768px) {
  main,
  div.grid,
  p.grid,
  div.box-a,
  .grid a,
  div.grid-a,
  div.gridbox-a,
  div.gridbox-b, 
  p.gridbox-a,
  .gridbox-a img {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
  }

  footer {
    display: none;
  }
}

.gridbox-b a {
  color: #fff4d9;
}

@media all and (max-width: 426px) {
  div.gridbox-b,
  .title h1 {
    font-size: 1.3rem;
  }

  .gridbox-a p,
  div.box-a p,
  .box-b p {
    font-size: 1rem;
    line-height: 2rem;
  }
}

/* core blog */

.font p {
  font-size: 1.5rem;
}

/* emotional intelligence blog */

#emotional-intelligence-grid {
  height: 70rem;
}

/* identity values strenghts blog */

div#identity-values-grid.grid-a {
  grid-template-rows: repeat(11, 1fr);
  height: 137.5rem;
}

/* javascript dom blog */

#js-photo1, 
#js-photo2, 
#js-photo6,
#js-photo7 {
  height: 17rem;
}

#js-photo3, 
#js-photo4, 
#js-photo5 {
  height: 24rem;
}

#js-grid {
  height: 325rem;
}

/* learning plan blog */
div#learning-plan-grid.grid-a {
  grid-template-rows: repeat(26, 1fr);
  height: 125rem;
}

/* neuroplasticity blog */

#neuroplasticity-grid {
  height: 125rem;
}

.resource-links a {
  color: rgb(252, 249, 249);
}

/* foundations reflections blog */

div#foundations-reflections.grid-a {
  grid-template-rows: repeat(13, 1fr);
  height: 93.75rem;
}
